.drum-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textdiv {
  width: 601px;
  padding-top: 100px;
  padding-bottom: 25px;
}

/* drum machine*/

th {
  align-items: center;
  padding: 5px;
}

ul{
  margin: 1% auto 1% auto;
  list-style-type: none;
}

li {
  display: inline;
}

.TechnoButton {
  text-align: left;
  padding-left: 0px;
  background: transparent;
  border: none !important;
  outline: none !important;
}

.TempoPlusButton {
  padding-left: 10px;
  background: transparent;
  border: none !important;
  outline: none !important;
}

.TempoMinusButton {
  padding-left: 13px;
  background: transparent;
  border: none !important;
  outline: none !important;
}

.TechnoButton:hover,
.TempoPlusButton:hover,
.TempoMinusButton:hover {
  color: red;
}

.btn-group{
  float: right;
  margin-right: 10%;
}


/* buttons color change onclick */

.techno-btn {
  font-size: 6px;
  width: 10px;
  height: 10px;
}

.badge-secondary {
  /* color:rgb(255, 255, 255); */
  background-color: rgba(132, 142, 150, 0.72);
}

.badge-light {
  color:rgb(85, 85, 91);
}

body {
  background-color: #eee;
}

/* background animation */

.animated-bg {
  animation: pulse 0.405s ease-out;
}

@keyframes pulse {
  0% { background-color: #ddd;}
  100% { background-color: #eee;}
}

/* home button */

#homeButton{
  display: flex !important; */
  align-items: center !important;
  justify-content: center !important;
}

a{
  color: rgb(0, 0, 0);
}

a:hover{
  color: red;
  text-decoration: none;
}
