.drum-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textdiv {
  width: 601px;
  padding-top: 100px;
  padding-bottom: 25px;
}

/* drum machine*/

th {
  align-items: center;
  padding: 5px;
}

ul{
  margin: 1% auto 1% auto;
  list-style-type: none;
}

li {
  display: inline;
}

#playButton{
  width: 50px;
  font-size: 12px;
  margin-left: 10%;
  margin-right: 2%;
}

#stopButton{
  width: 50px;
  font-size: 12px;
  margin-right: 2%;
}

.btn-group{
  float: right;
  margin-right: 10%;
}

#tempoDisplay{
  width: 70px;
  padding-top: 5%;
  border-radius: 1%;
}

#increaseTempo1{
  font-size: 12px;
  background-color: rgba(108, 108, 108, 0.93);
}

#increaseTempo10{
  width:45px;
  font-size: 12px;
  background-color: rgba(108, 108, 108, 0.84);
}

#decreaseTempo1{
  background-color: rgba(108, 108, 108, 0.93);
  font-size: 12px;
}

#decreaseTempo10{
  width:45px;
  font-size: 12px;
  background-color: rgba(108, 108, 108, 0.84);
}

/* buttons color change onclick */

.techno-btn {
  font-size: 6px;
  width: 10px;
  height: 10px;
}

.badge-secondary {
  /* color:rgb(255, 255, 255); */
  background-color: rgba(132, 142, 150, 0.72);
}

.badge-light {
  color:rgb(85, 85, 91);
}

/* background animation */

.animated-bg {
  animation: pulse 0.405s ease-in-out;
}

@keyframes pulse {
  0% { background-color: #ddd;}
  100% { background-color: white;}
}
